<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/static/style.css" media="screen" title="no title">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"></script>
    <!-- <script src="https://apis.google.com/js/platform.js" async defer></script> -->
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{{url_for('home')}}">Home</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{url_for('dashboard')}}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('view_users')}}">View Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('add_user')}}">Add New User</a>
                </li>
            </ul>
            <!-- <span id="logged-in-user" class="navbar-text text-light">
               {{ login_session['username'] }}
            </span> -->
            <ul class="navbar-nav justify-content-end">
                <li class="nav-item">
                    <span id="signinButton">
                        <span class="g-signin" data-scope="openid email" data-clientid="99126369781-6me199h96kp7njf11mo76d3jkuh6ntje.apps.googleusercontent.com" data-redirecturi="postmessage"
                            data-accesstype="offline" data-cookiepolicy="single_host_origin" data-callback="signInCallback" data-approvalprompt="force">
                        </span>
                    </span>
                </li>
                <li class="nav-item text-light">
                    <span id="loggedInUser" class="nav-link">
                        {{ login_session['username'] }}
                    </span>
                </li>

                <li id="signoutButton" class="nav-item text-light">
                    {% if login_session['username'] %}{% endif %}
                    <span class="nav-link" onclick="disconnect()">Logout</span>
                </li>

            </ul>
        </div>
    </nav>

    {% block content %} {% endblock %}

    <script src=" https://code.jquery.com/jquery-3.1.1.slim.min.js " integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n "
        crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js " integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb "
        crossorigin="anonymous "></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js " integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn "
        crossorigin="anonymous "></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js "></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js "></script>
    <script>
        var logged = "{{ login_session['username'] }}";
    </script>
    <script type="text/javascript " src="{{ url_for( 'static', filename='app.js' ) }} "></script>

</body>

</html>


</html>

</html>
