<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>User Management App</title>
    <link rel="icon" href="{{url_for('static',filename='favicon.png')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/static/style.css" media="screen" title="no title">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"></script>
    <script>
        $(document).ready(function() {
            $("#{{request.endpoint}}").addClass("active");
        })
    </script>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a id="home" class="nav-link" href="{{url_for('home')}}">Home</a>
                </li>
                <li class="nav-item">
                    <a id="dashboard" class="nav-link" href="{{url_for('dashboard')}}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a id="view_users" class="nav-link" href="{{url_for('view_users')}}">View Users</a>
                </li>
                <li class="nav-item">
                    <a id="add_user" class="nav-link" href="{{url_for('add_user')}}">Add New User</a>
                </li>
            </ul>
            <ul class="navbar-nav justify-content-end">
                <li class="nav-item">
                    <span id="signinButton">
                        <span class="g-signin" data-scope="openid email" data-clientid="99126369781-6me199h96kp7njf11mo76d3jkuh6ntje.apps.googleusercontent.com" data-redirecturi="postmessage"
                            data-accesstype="offline" data-cookiepolicy="single_host_origin" data-callback="signInCallback" data-approvalprompt="force">
                        </span>
                    </span>
                </li>
                <li class="nav-item">
                    <span id="loggedInUser" class="navbar-text mr-2 text-white">
                        {{ login_session['username'] }}
                    </span>
                </li>
                <li id="signoutButton" class="nav-item text-light">
                    <span class="nav-link" onclick="disconnect()">Logout<i class="fa fa-sign-out ml-2"></i></span>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-3">
        <div class="row justify-content-md-center">
            <div class="col col-md-8 sign-in-msg">
                {% if alert %}
                <div class="alert alert-{{alert['type']}} alert-dismissible fade show text-center" role="alert">
                    {{alert.msg}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% block content %} {% endblock %}

    <script src=" https://code.jquery.com/jquery-3.1.1.slim.min.js " integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n "
        crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js " integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb "
        crossorigin="anonymous "></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js " integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn "
        crossorigin="anonymous "></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js "></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js "></script>
    <script>
        var userName = "{{ login_session['username'] }}";
    </script>
    <script type="text/javascript " src="{{url_for('static',filename='app.js')}}"></script>

</body>

</html>


</html>

</html>
