{% extends "base.html" %} {% block content %}

<div class="container">
    <div class="text-center pt-3">
        <h1 class="display-3">Dashboard</h1>
        <hr class="my-3">
        <div class="row mb-3">
            <div class="col">
                <div class="card border-primary">
                    <div class="card-body">
                        <h3 class="card-title">Total Users</h3>
                        <h3 class="p-3">{{total_user_count}}</h3>
                        <a href="{{url_for('view_users')}}" class="btn btn-primary">View Users</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            {% for type in type_list %}
            <div class="col col-md-4 mb-4">
                <div class="card border-secondary">
                    <div class="card-body">
                        <h4 class="card-title type-{{loop.index}}">{{type|title}}</h4>
                        <h3 class="p-3">{{type_count[loop.index-1]}}</h3>
                        <a href="{{url_for('view_type_users', user_type_id=loop.index)}}" class="btn btn-outline-secondary type-{{loop.index}}">View Users</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
