{% extends "base.html" %} {% block content %}

<div class="container">
    <div class="text-center pt-3">
        <h1 class="display-3">User Management App</h1>
        <p class="lead">Easily manage your users with this admin app</p>
        <hr class="my-3">
        <h2 class="mb-3">Features</h2>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="3500">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="jumbotron">
                        <h2 class="text-primary display-4">Dashboard</h2>
                        <p class="text-primary mt-3"><i class="fa fa-tachometer fa-3x" aria-hidden="true"></i></p>
                        <p class="lead">Overview of all user and types</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="jumbotron">
                        <h2 class="text-info display-4">View All Users</h2>
                        <p class="text-info mt-3"><i class="fa fa-list-ul fa-3x" aria-hidden="true"></i></p>
                        <p class="lead">List all users with basic information</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="jumbotron">
                        <h2 class="text-dark display-4">View User Details</h2>
                        <p class="text-dark mt-3"><i class="fa fa-address-card-o fa-3x" aria-hidden="true"></i></p>
                        <p class="lead">Show user's details</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="jumbotron">
                        <h2 class="text-success display-4">Add New User</h2>
                        <p class="text-success mt-3"><i class="fa fa-user-plus fa-3x" aria-hidden="true"></i></p>
                        <p class="lead">Create new user</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="jumbotron">
                        <h2 class="text-warning display-4">Edit User</h2>
                        <p class="text-warning mt-3"><i class="fa fa-edit fa-3x" aria-hidden="true"></i></p>
                        <p class="lead">Update exising user information</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="jumbotron">
                        <h2 class="text-danger display-4">Delete User</h2>
                        <p class="text-danger mt-3"><i class="fa fa-user-times fa-3x" aria-hidden="true"></i></p>
                        <p class="lead">Delete existing user</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
        </div>
        <p class="lead">
            Please sign in using your Google account for full features
        </p>
        <div class="text-muted mt-3 mb-2 small">
            Designed and developed by <a href="https://github.com/dimak1" target="_blank">Dima K</a> for Udacity's
            <a href="https://www.udacity.com/course/full-stack-web-developer-nanodegree--nd004" target="_blank">Full Stack Web Developer Nanodegree</a>            Program
        </div>
    </div>
</div>
{% endblock %}
