{% extends "base.html" %} {% block content %}

<div class="container">
    <div class="text-center pt-5">
        <h1 class="display-3">Manage your users easily</h1>
        <p class="lead">This app will allow you to manage your users</p>
        <hr class="my-4">
        <div id="signinButton">
            <span class="g-signin" data-scope="openid email" data-clientid="99126369781-6me199h96kp7njf11mo76d3jkuh6ntje.apps.googleusercontent.com" data-redirecturi="postmessage"
                data-accesstype="offline" data-cookiepolicy="single_host_origin" data-callback="signInCallback" data-approvalprompt="force">
            </span>
        </div>

        <div id="result"></div>
        <!-- <a class="btn btn-outline-primary btn-lg" href="#" role="button">Dashboard</a>
        <a class="btn btn-outline-primary btn-lg" href="#" role="button">View Users</a>
        <a class="btn btn-outline-primary btn-lg" href="#" role="button">Add New User</a> -->
    </div>
</div>

<script>
    function signInCallback(authResult) {
        if (authResult['code']) {
            // Hide the sign-in button now that the user is authorized
            $('#signinButton').attr('style', 'display: none');
            // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
            $.ajax({
                type: 'POST',
                url: '/gconnect?state={{STATE}}',
                processData: false,
                contentType: 'application/octet-stream; charset=utf-8',
                data: authResult['code'],
                success: function(result) {
                    // Handle or verify the server response if necessary.
                    if (result) {
                        $('#result').html('Login Successful!</br>' + result + '</br>')
                        // setTimeout(function() {
                        //     window.location.href = "/home";
                        // }, 4000);

                    } else if (authResult['error']) {
                        console.log('There was an error: ' + authResult['error']);
                    } else {
                        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                    }
                }

            });
        }
    }
</script>

{% endblock %}
