{% extends "base.html" %} {% block content %}

<div class="container">
    <div class="text-center pt-5">
        <h1 class="display-3">Manage your users easily</h1>
        <p class="lead">This app will allow you to manage your users</p>
        <hr class="my-4">

        <!-- <a class="btn btn-outline-primary btn-lg" href="#" role="button">Dashboard</a>
        <a class="btn btn-outline-primary btn-lg" href="#" role="button">View Users</a>
        <a class="btn btn-outline-primary btn-lg" href="#" role="button">Add New User</a> -->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="3500">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="jumbotron">
                        <h1>View All Users</h1>
                        <p class="lead">List of all users with basic information</p>
                        <hr class="my-4">
                        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="jumbotron">
                        <h1>View User Details</h1>
                        <p class="lead">Show user details</p>
                        <hr class="my-4">
                        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="jumbotron">
                        <h1>Add New User</h1>
                        <hr class="my-4">
                        <p class="lead">Create a new user</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="jumbotron">
                        <h1>Edit User</h1>
                        <hr class="my-4">
                        <p class="lead">Update exising user information</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="jumbotron">
                        <h1>Delete User</h1>
                        <p class="lead">Delete existing user</p>
                        <hr class="my-4">
                        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
        </div>
    </div>
</div>

{% endblock %}
