<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css" media="screen" title="no title">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark  bg-dark">
        <a class="navbar-brand" href="#">Navbar</a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">View Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Add New User</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">

        <div class="page-header">
            <h1>Customers <small>Subtext for header</small></h1>
        </div>

        <div class="row">
            <div class="col-xs-6 col-md-3">
                <a href="#">View Customers</a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#">Add New Customer</a>
            </div>
        </div>


        <table class="table table-hover table-condenced">
            <thead>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Action</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>John Doe</td>
                    <td>john.doe@email.com</td>
                    <td>
                        <button type="button" class="btn btn-link">Edit</button>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Mark Smith</td>
                    <td>mark.smith@email.com</td>
                    <td>
                        <button type="button" class="btn btn-link">Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
</body>

</html>
